// 1. Top-Level Engine Capabilities
docker {
    enabled = true
}
wave {
    enabled = true
}
fusion {
    enabled = true
}

// 2. User Pipeline Parameters
params {
    samplesheet = ''
    outdir      = 's3://embedbio-results/sracha/'
}

// 3. Process Execution Rules
process {
    withName: 'SRACHA_GET' {
        container = 'quay.io/biocontainers/sracha:0.3.10--h54198d6_0'
        containerOptions = '-v /etc/ssl/certs:/etc/ssl/certs:ro'
    }
}