// 1. Top-Level Engine Capabilities
docker {
    enabled = true
}

wave {
    enabled = true
}

fusion {
    enabled = true
}

// 2. User Pipeline Parameters
params {
    samplesheet = 's3://sracha-samplesheets/sra.ss.csv'
    outdir      = 's3://embedbio-results/sracha/'
}

// 3. Process Execution Rules
process {
    errorStrategy = 'retry'
    maxRetries    = 2
}