// 1. Top-Level Engine Capabilities
docker {
    enabled = true
}

wave {
    enabled = true
}

fusion {
    enabled = true
}

// 2. User Pipeline Parameters
params {
    samplesheet = ''
    outdir      = 's3://embedbio-results/sracha/'
}

// 3. Process Execution Rules
process {
    errorStrategy = 'retry'
    maxRetries    = 2

    // Apply the SSL certificate mount specifically to your tool's process
    withName: 'RUN_SRACHA' {
        containerOptions = '-v /etc/ssl/certs:/etc/ssl/certs:ro'
    }
}